<header>
  <div class="navbar">
    <div class="navbar-left">
      <h1>ARI HN</h1>
      <img src="Ari_logo.png" alt="Logo de la fundacion" />
    </div>
    <input type="checkbox" id="menu-toggle" />
    <label for="menu-toggle" class="hamburger">
      <div></div>
      <div></div>
      <div></div>
    </label>
     <nav>
       <ul>
        {{#each navigation}}
          <li class="{{#if children}}dropdown{{/if}}">
            {{#if children}}
           <button type="button" class="dropdown-toggle">{{label}}</button>
              <ul class="dropdown-menu">
                {{#each children}}
                  <li><a href="{{url}}">{{label}}</a></li>
                {{/each}}
              </ul>
            {{else}}
              <a href="{{url}}">{{label}}</a>
            {{/if}}
          </li>
        {{/each}}
      </ul>
    </nav>
  </div>
</header>